body {
  margin: 0 60px;
  font-family: "Gill Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  flex: 1 0 auto;
  text-align: center;
}

header button {
  padding: 5px 10px;
  background: none;
  box-shadow: 4px 4px, 1px 1px;
  border: 1px solid black;
}

.DraftEditor-root {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 15px;
}

.DraftEditor-editorContainer {
  min-height: 50vh;
}
